.search-page-container{
  /*font-family: Roboto;*/
  background: #fff;
  display: flex;
  border-bottom: 1px solid #f1f1f1;
}


.product-list-container{
  border-left: 1px solid #f1f1f1;
  /*padding: 20px 20px;*/
  padding-bottom: 20px;
}
.product-list{
  display: block;
}


.search-details-container{
  display: flex;
  border-bottom: 1px solid #f1f1f1;
}
.search-details{
  flex-grow: 1;
  padding: 15px 0;
  padding-left: 15px;
}
.search-category-name{
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.search-count{
  padding-left: 5px;
  font-size: 13px;
  font-weight: 500;
}


.filters-header{
  padding: 10px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.filters{

}

.filter-body{

}

.filter-header{
  padding-left: 20px;
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 5px;
  text-transform: uppercase;
}

body {
  margin: 0;
}
