<div class="container-fluid reset-padding-right reset-padding-left">
    <div *ngIf="products.length != 0" class="search-page-container">
        <div class="col-md-3"></div>

        <div class="col-md-9 product-list-container reset-padding">
            <div class="search-details-container">
                <div class="search-details">
                    <span class="search-category-name">{{searchResultName ? searchResultName : categoryName}}</span>
                    <span class="search-count">(Showing {{startCount}} - {{endCount}} products of {{totalProductCount}})</span>
                </div>
            </div>
            <div class="product-list">
                <div *ngFor="let product of products; let i = index">
                    <app-product-card *ngIf="!isproductCardDetailed()" [product]="product"></app-product-card>
                    <app-product-card-detailed *ngIf="!!isproductCardDetailed()" [product]="product"></app-product-card-detailed>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="products.length == 0" class="search-page-container">
        <div class="col-md-3"></div>

        <div class="col-md-9 product-list-container reset-padding">
            <div class="search-details-container">
                <div class="search-details">
                    <span class="search-category-name"></span>
                    <span class="search-count">(Showing 0 - 0 products of 0)</span>
                </div>
            </div>
            <div class="product-list">

            </div>
        </div>
    </div>
</div>


<div *ngIf="pageParams.length > 0" class="container text-center">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <ul class="pagination">
                <li *ngFor="let pageParam of pageParams;let i = index">
                    <a class="action {{ i.toString() == page.toString() ? 'active' : ''}}" (click)="navigateToPage(pageParam)">{{i+1}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<app-rvp></app-rvp>
