<a class="product-card-anchor action" [routerLink]="'/product/'+product['id']">
    <div class="product-card">
        <div class="row reset-margin">

            <div class="col-md-3">
                <div class="image-holder">
                    <img class="responsive-img" src="{{imgRoot}}{{product.brand.brandName}}%2F{{product.image1}}" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-desc">
                    <div class="product-name">{{product.productName}}</div>
                </div>
                <div class="product-highlights">
                    <li *ngFor="let feature of product['featureList']" >{{feature['name']}} {{feature['value']}}</li>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <div class="product-price">{{product.sellingRate/100 | currency:'INR':true:'1.0'}}</div>
                    <div class="mrp">{{product.mrp/100 | currency:'INR':true:'1.0'}}</div>
                </div>
            </div>

        </div>
    </div>
</a>