.page-container{
  font-family: Roboto;
  background: #fff;margin: 0 15px;
}



.product-img-details{
  width: 100%;
}
.product-img-container{
  margin: 20px 20px;
}

.product-img-holder{
  padding: 40px 0;
  margin: 20px auto;
  height: 500px;
  width: 500px;
  border: 1px solid #f1f1f1;
    box-shadow: 0 0px 20px -4px rgba(0, 0, 0, 0.15);
}

.action-btns{
    margin: 0 20px;
}

.product-details-section{
  /*border-left: 1px solid #dedede;*/
  overflow-y: auto;
  overflow-x: hidden;
  height: 600px;
}
.product-details{
  padding: 30px 15px;
  min-height: 400px;
}
.product-title{
  font-size: 20px;
  font-weight: 400;
}
.product-price-details{
  clear: both;
}

.product-selling-price{
  font-size: 23px;
  font-weight: 500;
}

.mrp{
  font-size: 16px;
  text-decoration: line-through;
  font-weight: 400;
  color: #878787;
  padding: 0 7px;
}

.product-summary{
  width: 60%;
  color: #777;
}

.product-specifications{
    /*padding: 30px 30px;*/
    margin-right: 25px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0px 12px -4px rgba(0, 0, 0, 0.15);
}


.product-specification-category{
  margin-bottom: 30px;
}

.product-specification-category-name{
  /*border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;*/
    font-size: 18px;
    font-weight: 400;
    padding: 20px 30px;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}
.product-specifications .product-specification-category-name:first-child{
    /*border-top: none;*/
}

.product-sectional-features{
    padding: 15px 30px;
}

.product-feature{
  padding: 12px 0;
  /*padding-left: 20px;*/
  font-size: 14px;
  font-weight: 400;
  clear: both;
}



.product-feature-name{
  color: #aaa;
  width: 250px;
  float: left;
}
.product-feature-name-value-separator{
  color: #212121;
  float: left;
}
.product-feature-name-value-separator:before{
  content: ":";
  padding-right: 20px;
}
.product-feature-value{
  color:  #212121;
  float: left;
  width: 350px;
}

/*Scrollbar css*/

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(40,40,40,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.4);
}
/*scrollbar css*/