.page-container{
    font-family: Roboto;
    background: #fff;
}

.product-details-container{
    margin: 0 15px;
}

.product-img-details{
    width: 100%;
}
.product-imgs-container{
    margin: 20px 20px;
}

.product-image-strip-carousel{
    width: 100%;
    height: 100%;
    float: left;
}
.mini-image-holder{
    width: 100%;
    height: 40px;
    border: 1px solid #f1f1f1;
    padding: 4px;
    margin-bottom: 6px;
}
.mini-image-holder:hover{
    cursor: pointer;
    border: 1px solid #979797;
}
.mini-image-holder.active{
    border: 1px solid #979797;
}


.product-img-holder{
    padding: 40px 0;
    margin: 0 auto;
    height: 500px;
    width: 100%;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0px 20px -4px rgba(0, 0, 0, 0.15);
}

.action-btns{
    margin: 16px 16px;
    margin-bottom: 0;
}

.product-img-section{
    width: 45%;
}
.product-details-section{
    /*border-left: 1px solid #dedede;*/
    overflow-y: auto;
    overflow-x: hidden;
    height: 600px;
    width: 55%;
}
.product-details{
    padding: 30px 15px;
    min-height: 400px;
    color: #212121;
}
.product-title{
    font-size: 20px;
    font-weight: 400;
}
.product-price-details{
    clear: both;
}

.product-selling-price{
    font-size: 25px;
    font-weight: 400;
}

.mrp{
    font-size: 16px;
    text-decoration: line-through;
    font-weight: 400;
    color: #878787;
    padding: 0 7px;
}

.product-highlights{
    color: #a1a1a1;
    font-weight: 500;
}
.product-highlights-header{
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 7px;
}
.product-summary{
    font-size: 13px;
    padding-left: 20px;
    font-weight: 400;
}
.key-feature-and-bullet{
    padding: 2px 0;
    float: left;
    width: 100%;
}
.bullet{
    color: #a1a1a1;
    float: left;
    font-size: 12px;
    font-weight: 900;
    padding-right: 10px;
}

.key-feature{
    float: left;
    width: 85%;
}

.product-specifications{
    /*padding: 30px 30px;*/
    margin-right: 15px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0px 12px -4px rgba(0, 0, 0, 0.15);
}

.offer-percent{
    font-size: 12px;
    font-weight: 500;
    color: #28a745;
    padding: 4px 7px;
    border: 1px solid #28a745;
}

.product-specification-category{
    margin-bottom: 30px;
}

.product-specification-category-name{
    /*border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;*/
    font-size: 18px;
    font-weight: 400;
    padding: 20px 30px;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}
.product-specifications .product-specification-category-name:first-child{
    /*border-top: none;*/
}

.product-sectional-features{
    padding: 15px 30px;
}

.product-feature{
    padding: 12px 0;
    /*padding-left: 20px;*/
    font-size: 14px;
    font-weight: 400;
    clear: both;
}



.product-feature-name{
    color: #aaa;
    width: 35%;
    float: left;
}
.product-feature-name-value-separator{
    color: #212121;
    float: left;
}
.product-feature-name-value-separator:before{
    content: ":";
    padding-right: 20px;
}
.product-feature-value{
    color:  #212121;
    float: left;
    width: 35%;
}

/*Scrollbar css*/

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(40,40,40,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.4);
}
/*scrollbar css*/