<div *ngIf="!isLoaderVisible" class="page-container" >
    <div class="product-details-container">
        <div class="row">
            <div class="product-img-section" style="padding-left: 5px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-imgs-container">
                            <div class="row">
                                <div class="col-md-1 reset-padding">
                                    <div class="product-image-strip-carousel">
                                        <div *ngFor="let img of productDetails['images']; let i = index" class="mini-image-holder {{activeImageIndex == i ?'active':''}}"  (mouseenter)="onHoverMiniImage(i)">
                                            <img class="responsive-img " src="{{img}}" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="product-img-holder">
                                        <img class="responsive-img" src="{{activeProductImage}}" (onload)="onLoad()">
                                        <!--<ngx-image-zoom
                                                [thumbImage]="activeProductImage"
                                                [zoomMode]="'hover'"
                                        ></ngx-image-zoom>-->
                                    </div>
                                    <div class="action-btns">
                                        <div class="row">
                                            <div class="col-md-6 reset-padding-left"><button class="btn btn-danger btn-block">Buy Now</button></div>
                                            <div class="col-md-6 reset-padding"><button class="btn btn-success btn-block" (click)="addToCart()">Add to cart</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-details-section">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="product-details">
                                <div class="product-title">
                                    {{productDetails.productName}}
                                </div>
                                <div class="product-price-details">
                                    <span class="product-selling-price">{{productDetails.sellingRateParsed | currency:'INR':true:'1.0'}}</span>
                                    <span *ngIf="productDetails.mrp != 0" class="mrp">{{productDetails.mrpParsed | currency:'INR':true:'1.0'}}</span>
                                    <span *ngIf="productDetails.mrp != 0" class="offer-percent">{{(this.productDetails['offer']*100/this.productDetails['mrpParsed']).toFixed(0)}}% off</span>
                                </div>
                                <div class="product-highlights">
                                    <div class="product-highlights-header">
                                        Product Summary
                                    </div>
                                    <div class="product-summary">
                                        <div *ngFor="let keyFeature of keyFeatures" class="key-feature-and-bullet">
                                            <span class="bullet">-</span>
                                            <span class="key-feature">{{keyFeature}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="productSpecifications.length > 0">
                        <div class="col-md-12">
                            <div class="product-specifications">
                                <div class="row">
                                    <div *ngFor="let productSpecification of productSpecifications" class="col-md-12">
                                        <div class="product-specification-category">
                                            <div class="product-specification-category-name">
                                                {{productSpecification.name}} Features
                                            </div>
                                            <div class="product-sectional-features">
                                                <div *ngFor="let productFeature of productSpecification['features']" class="product-feature">
                                                    <div class="product-feature-name">{{productFeature['name']}}</div>
                                                    <div class="product-feature-name-value-separator"></div>
                                                    <div class="product-feature-value">{{productFeature['value']}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>

    <div style="margin-bottom: -20px">
        <app-rvp></app-rvp>
    </div>

</div>
<app-product-page-skeleton *ngIf="!!isLoaderVisible"></app-product-page-skeleton>
