<nav class="navbar navbar-expand-lg fixed-top " color-on-scroll="500">
  <div class="container-fluid">
    <div class="navbar-translate justify-content-start">
      <button class="navbar-toggler navbar-burger d-lg-none"
              type="button" data-toggle="collapse"
              data-target="#navbarToggler"
              aria-controls="navbarTogglerDemo02"
              aria-expanded="false"
              aria-label="Toggle navigation"
              (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
      </button>
      <a class="navbar-brand" href="/">EMART</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="navbar-nav">

        <li class="nav-item" *ngFor="let parentCategory of categories; let i = index">
          <div *ngIf="parentCategory.parentId == 0" ngbDropdown class="d-inline-block dropdown">
            <a routerLink="/lp/{{parentCategory.id}}" class="nav-link" id="dropdownBasic1" ngbDropdownToggle>{{parentCategory.name}}</a>

            <div  aria-labelledby="dropdownBasic1" class="row dropdown-primary dropdown-content">
              <div class="category-menu-link-container" *ngFor="let vertical of categories; let i = index">
                <div class="" *ngIf="vertical.parentId == parentCategory.id" ><a class="dropdown-item category-menu-link text-uppercase" routerLink="/search" [queryParams]="{vertId : vertical.id  }">{{vertical.name}} <i class="fa fa-caret-right"></i></a>

                  <div *ngFor="let leaf of categories;">
                    <a class="dropdown-item sub-category-menu-link" *ngIf="leaf.parentId == vertical.id" routerLink="/search" [queryParams]="{catId : leaf.id  }">{{leaf.name}}</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse">
      <form style="width: 100%" (submit)="onSearch()">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="searchString" placeholder="Search" name="search">
          <div class="input-group-btn">
            <button class="btn btn-default" style="margin: 0" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="collapse navbar-collapse" id="navbar-primary">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!!isUserLoggedIn" class="nav-item">

          <a class="nav-link action">
              <i class="fa fa-shopping-cart"
                 matBadge="15"
                 matBadgePosition="before"
                 matBadgeColor="warn"
              matBadgeSize="medium"></i> Cart
          </a>
        </li>
        <li *ngIf="!isUserLoggedIn" class="nav-item">
          <a class="nav-link action" (click)="openModal()"><i class="nc-icon nc-single-02" aria-hidden="true"></i>&nbsp;Signup / Login</a>
        </li>

        <li *ngIf="!!isUserLoggedIn" class="nav-item">
          <div ngbDropdown class="d-inline-block dropdown">
            <a class="nav-link action" id="dropdownBasic2" ngbDropdownToggle>Hi, {{userFirstName}}</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="dropdown-primary">
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</nav>
