<div>
  <div class="d-none d-lg-block">
    <div class="reset-padding product-card-container  {{cardType}}">

      <a class="product-card-anchor action" [routerLink]="'/product/'+productIdEncoded">
        <div class="product-card" >
          <div *ngIf="product.mrp != 0" class="offer-tag">
            {{((product.mrp-product.sellingRate)*100/(product.mrp)).toFixed(0)}}% off
          </div>
          <div class="image-holder">
            <img class="responsive-img" src="{{imgRoot}}{{product.brand.brandName}}%2F{{product.image1}}" />
            <!--<button class="btn btn-dark quickViewBtn" (click)="openQuickViewModal()">Quick View</button>-->
          </div>
          <div class="product-desc">
            <div class="product-name">{{product.productName}}</div>
            <div class="">
              <span class="product-price">{{product.sellingRate/100 | currency:'INR':'symbol':'1.0'}}</span>
              <span *ngIf="product.mrp != 0" class="mrp">{{product.mrp/100 | currency:'INR':'symbol':'1.0'}}</span>
              <!--<span *ngIf="product.mrp != 0" class="offer-percent">{{((product.mrp-product.sellingRate)*100/(product.mrp)).toFixed(0)}}% off</span>-->
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="{{cardType == 'product-card-carousel' ? 'product-card-holder' : ''}} d-lg-none">
    <a class="product-card-anchor action" [routerLink]="'/product/'+productIdEncoded">
      <div class="product-card {{cardType == 'product-card-carousel' ? 'carousel-product-card rounded' : ''}}">
        <div class="image-holder">
          <img class="responsive-img" src="{{imgRoot}}{{product.brand.brandName}}%2F{{product.image1}}" />
        </div>
        <div class="product-desc">
          <div class="product-name">{{product.productName}}</div>
          <div class="">
            <span class="product-price">{{product.sellingRate/100 | currency:'INR':'symbol':'1.0'}}</span>
            <span *ngIf="product.mrp != 0" class="mrp">{{product.mrp/100 | currency:'INR':'symbol':'1.0'}}</span>
            <span *ngIf="product.mrp != 0" class="offer-percent">{{((product.mrp-product.sellingRate)*100/(product.mrp)).toFixed(0)}}% off</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
