<div class="reset-padding product-card-container  {{cardType}}">

  <a class="product-card-anchor action" [routerLink]="'/product/'+product['id']">
    <div class="product-card" >
      <div class="image-holder">
        <img class="responsive-img" src="{{imgRoot}}{{product.brand.brandName}}%2F{{product.image1}}" />
        <!--<button class="btn btn-dark quickViewBtn" (click)="openQuickViewModal()">Quick View</button>-->
      </div>
      <div class="product-desc">
        <div class="product-name">{{product.productName}}</div>
        <div class="">
          <span class="product-price">{{product.sellingRate/100 | currency:'INR':true:'1.0'}}</span>
          <span *ngIf="product.mrp != 0" class="mrp">{{product.mrp/100 | currency:'INR':true:'1.0'}}</span>
          <span *ngIf="product.mrp != 0" class="offer-percent">{{((product.mrp-product.sellingRate)/10000).toFixed(0)}}% off</span>
        </div>
      </div>
    </div>
  </a>
</div>
