.product-card-container{
  width: 20%;
  float: left;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.image-holder{
  width: 200px;
  height: 170px;
  margin: 20px auto;
}
.product-name{
  clear: both;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
}

.product-card{
  padding: 20px 0;
  color: black;
}
.product-card:hover{
  box-shadow: 0px 0px 15px 3px #ededed;
  color: #000;
    transition-duration: .3s;
}
.product-card:hover .product-name{
  color: blue;
}
.product-card:hover .image-holder{
  transform: scale(1.05);
  transition-duration: .3s;
}

.product-card-anchor{
  text-decoration: none;
}
.product-desc{
  padding: 0 30px;
  padding-right: 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.product-price{
  font-size: 15px;
  font-weight: 500;
}
.offer{

}

.quickViewBtn{
  position: absolute;
  transform: translate(50%, -275%);
  padding: 5px 10px;
  color: #fff;
  border-color: #403D39;
  background: #403D39;
  font-weight: 500;
  opacity: 0.8;
  display: none;
}

.quickViewBtn:hover{
  opacity: 0.9;
}

.product-card-container:hover .quickViewBtn{
  display: block;
}



.product-card-carousel{
  width: 16.6667% !important;
}

img{
  box-shadow: none;
  border-radius: unset;
}
