.product-carousel-section{
  padding: 0;
  border: 1px solid #d5d5d5;
  margin: 0 15px;
  margin-top: 20px;
  box-shadow: 0 0px 4px 0px #d5d5d5;
}
.divider{
  border-top: 1px solid #d5d5d5;
}
.product-carousel-title{
  font-family: "Roboto", "Montserrat", "Helvetica", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 20px;
  text-transform: uppercase;
}

img{
  box-shadow: none !important;
  border-radius: 0;
}

@media (max-width: 991.98px){
  .product-carousel-section{
    border: none;
    margin: 0;
    margin-top: 10px;
    box-shadow: none;
  }
  .product-carousel-title{
    padding: 10px 10px;
    font-size: 14px;
    padding-bottom: 0;
  }
}

::-webkit-scrollbar {
  height: 0px;
}