.product-carousel-section{
  padding: 0;
  border: 1px solid #f1f1f1;
  margin: 0 15px;
  margin-top: 20px;
  box-shadow: 0 0px 12px -4px rgba(0, 0, 0, 0.15);
}
.divider{
  border-top: 1px solid #f1f1f1;
}
.product-carousel-title{
  font-family: "Roboto", "Montserrat", "Helvetica", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 20px;
  text-transform: uppercase;
}

img{
  box-shadow: none !important;
  border-radius: 0;
}