<div class="page-container" >
  <div class="product-details-container">
    <div class="row">
      <div class="product-img-section" style="padding-left: 5px">
        <div class="row">
          <div class="col-md-12">
            <div class="product-imgs-container">
              <div class="row">
                <div class="col-md-12">
                  <div class="avatar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="action-btns">
              <div class="row">
                <div class="col-md-6"><div class="btn-avatar"></div></div>
                <div class="col-md-6"><div class="btn-avatar"></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details-section">
        <div class="row">
          <div class="col-md-12">
            <div class="product-details">
              <div class="product-title">
                <div class="line medium-line"></div>
              </div>
              <div class="product-price-details">
                <div class="line medium-line"></div>
              </div>
              <div class="product-highlights">
                <div class="product-highlights-header">
                  Product Summary
                </div>
                <div class="product-summary">
                  <div class="line medium-line"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-12">
            <div class="product-specifications">
              <div class="row">
                <div class="col-md-12">
                  <div class="line medium-line"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

