/* Skeleton loader */
.skeleton-container {
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.post {
  width: 100%;
  height: 250px;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px;
}
.post .avatar {
  /*float: left;*/
  width: 99%;
  height: 500px;
  background-color: #ccc;
  /*border-radius: 25%;*/
  margin: 8px;
  background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
  background-size: 600px;
  animation: shine-avatar 2s infinite ease-out;
}
.post .line {
  /*float: left;*/
  width: 140px;
  height: 16px;
  margin-top: 12px;
  border-radius: 7px;
  background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
  background-size: 600px;
  animation: shine-lines 2s infinite ease-out;
}

.big-line{
  width: 70% !important;
}
.medium-line{
  width: 50% !important;
}

.post .avatar + .line {
  margin-top: 11px;
  width: 100px;
}
.post .line ~ .line {
  background-color: #ddd;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 140px;
  }
}
@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}
/* Skeleton loader */
