<div class="skeleton-container">
  <div class="post">

    <div class="row">
      <div class="col-md-3">
        <div class="avatar"></div>
      </div>
      <div class="col-md-6">
        <div class="line big-line"></div>
        <div class="line medium-line"></div>
        <div class="line medium-line"></div>
        <div class="line medium-line"></div>
        <div class="line medium-line"></div>
      </div>
      <div class="col-md-3">
        <div class="line"></div>
      </div>
    </div>

  </div>
</div>