
.item-container{
  width: 100%;
  .material-icons{
    color: #66615b;
  }
}
.category-item{
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  color: #66615b;
}
.sidenav-header{
  padding: 18px;
  .material-icons{
    color: #66615b;
  }
}
.parent-category{
  text-transform: uppercase;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  color: #66615b;
}

.user-name-section{
  font-size: 13px;
  font-weight: 500;
}