<mat-sidenav-container class="matSideNav-container" autosize>
  <mat-sidenav #drawer class="example-sidenav" mode="side">

      <mat-list role="list">
          <mat-list-item
                  class="action"
            role="listitem"
            *ngFor="let parentCat of categories;let i=index"
            (click)="onClickParentCat(i)">
              {{parentCat['name']}}
              <i class="material-icons">chevron_right</i>
          </mat-list-item>

      </mat-list>

  </mat-sidenav>

    <mat-sidenav #verticalDrawer class="example-sidenav" mode="side">
        <i class="material-icons" (click)="verticalDrawer.toggle()">chevron_left</i>
        <mat-list role="list">
            <mat-list-item
                    class="action"
                    role="listitem"
                    *ngFor="let vertical of verticals;let i=index"
                    (click)="onClickVertical(i)" >
                {{vertical['name']}}
                <i class="material-icons">chevron_right</i>
            </mat-list-item>

        </mat-list>
    </mat-sidenav>
    <mat-sidenav #leafDrawer class="example-sidenav" mode="side">
        <i class="material-icons" (click)="leafDrawer.toggle()">chevron_left</i>
        <mat-list role="list">
            <mat-list-item
                    class="action"
                    role="listitem"
                    *ngFor="let leaf of leaves;let i=index">
                {{leaf['name']}}
            </mat-list-item>

        </mat-list>
    </mat-sidenav>
</mat-sidenav-container>


