<mat-sidenav-container class="matSideNav-container" style="color: #66615B" autosize>
  <mat-sidenav #drawer class="example-sidenav" mode="side">
      <div class="sidenav-header d-flex justify-content-center">
          <div *ngIf="!!isUserLoggedIn" class="user-name-section">Hi, {{userDetails['name']}}</div>
          <div *ngIf="!isUserLoggedIn" class="user-name-section" (click)="openModal()">Login / Signup</div>
      </div>
      <mat-divider></mat-divider>
      <mat-list role="list">
          <mat-list-item
            class="action"
            role="listitem"
            *ngFor="let parentCat of categories;let i=index"
            (click)="onClickParentCat(i)">
              <div class="item-container d-flex justify-content-between">
                  <span class="category-item">{{parentCat['name']}}</span>
                  <i class="material-icons">chevron_right</i>
              </div>
          </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <mat-list role="list">
          <mat-list-item
                  class="action"
                  role="listitem"
                  (click)="logout()">
              <div class="item-container d-flex justify-content-between">
                  <span class="category-item">Logout</span>
              </div>
          </mat-list-item>
      </mat-list>
  </mat-sidenav>

    <mat-sidenav #verticalDrawer class="example-sidenav" mode="side">
        <div class="sidenav-header d-flex justify-content-start align-items-center"
             (click)="verticalDrawer.toggle()">
            <i class="material-icons" >chevron_left</i>
            <div *ngIf="!!categories[parentCatItemIndex]" class="parent-category d-flex justify-content-center">{{categories[parentCatItemIndex]['name']}}</div>
        </div>
        <mat-divider></mat-divider>
        <mat-list role="list">
            <mat-list-item
                    class="action"
                    role="listitem"
                    *ngFor="let vertical of verticals;let i=index"
                    (click)="onClickVertical(i)" >
                <div class="item-container d-flex justify-content-between">
                    <span class="category-item">{{vertical['name']}}</span>
                    <i class="material-icons">chevron_right</i>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav #leafDrawer class="example-sidenav" mode="side">
        <div class="sidenav-header d-flex justify-content-start align-items-center" (click)="leafDrawer.toggle()">
            <i class="material-icons" >chevron_left</i>
            <div *ngIf="!!categories[parentCatItemIndex] && !!categories[parentCatItemIndex]['child'][verticalItemIndex]"
                 class="parent-category d-flex justify-content-center">
                {{categories[parentCatItemIndex]['child'][verticalItemIndex]['name']}}
            </div>
        </div>
        <mat-divider></mat-divider>
        <mat-list role="list">
            <mat-list-item
                    class="action"
                    role="listitem"
                    *ngFor="let leaf of leaves;let i=index"
                    routerLink="/search" [queryParams]="{catId: leaf.id}"
                    (click)="closeSideNav()">
                <span class="category-item">{{leaf['name']}}</span>
            </mat-list-item>

        </mat-list>
    </mat-sidenav>
</mat-sidenav-container>


